

<!DOCTYPE html>
<html>

<head>
    <title> new Project</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
<!-- start footer -->
<div class="footer">
    <div class="container">
        <div class="footer-container">
            <img src={{image1}} alt="logo">
            <p>WE ARE SOCIAL</p>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>

                <i class="fas fa-home"></i>
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="icon">
                <a href="#landing">
                    <i class="fas fa-arrow-up"></i>
                </a>
            </div>
            <p class="copyright">&copy; 2022 <span>Somia</span>All Right Reserved</p>
        </div>



    </div>
</div>
<!-- end footer -->
</body>