<!DOCTYPE html>
<html>

<head>
    <title> new Project</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    {{!-- <h2 class="hedt1"> {{title}} page </h2> --}}
{{!-- 
    <div class="header1">
        <a href="/"> HOME</a>
        <a href="/service"> SERVICE</a>
        <a href="/team">TEAM</a> --}}
    {{!-- </div> --}}
    <!-- start header -->
    
    <header>
        <div class="container">
            <a href="#" class="logo">
                <img src={{image1}} alt="">
            </a>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a class="#" href="/service">Services</a></li>
                    {{!-- <li><a class="#" href="#Portfolio">Portfolio</a></li> --}}
                    {{!-- <li><a class="#" href="/about">About</a></li> --}}
                    <li><a class="#" href="/contact">Contact</a></li>
                </ul>
                <div class="form">
                    <i class="fas fa-search"></i>
    
                </div>
    
            </nav>
        </div>
    </header>
    
    
    <!-- end header -->

</body>

</html>